body {
    font-family: "Poppins", sans-serif;
    background-image: linear-gradient(180deg, darkblue, violet, pink);
}
section {
    text-align: center;
    border-radius: 20px;
    width: 800px;
    margin: auto;
    background-color: rgb(255, 255, 255);
    margin-top: 100px;
    box-shadow: 0px 20px 72px 32px rgba(0, 0, 0, 0.1);
}
.game--title {
    padding-top: 40px;
}
.game--container {
    display: grid;
    grid-template-columns: repeat(3, auto);
    width: 300px;
    margin: 240px;
    margin-bottom: 20px;
    margin-top: 20px;
}
.cell {
    font-family: "Poppins", sans-serif;
    width: 100px;
    height: 100px;
    box-shadow: 0 0 0 1px black;
    border: 3px solid black;
    cursor: pointer;
    line-height: 100px;
    font-size: 80px;
}
button {
    margin-bottom: 40px;
    height: 40px;
    border: none;
    border-radius: 10px;
    color: pink;
    background-color: purple;
    box-shadow: 0 0 10px purple, 0 0 40px purple, 0 0 80px purple;
    cursor: pointer;
}
button:hover {
    color: purple;
    background-color: violet;
    box-shadow: 0 0 10px violet, 0 0 40px violet, 0 0 80px violet;
}
h1 {
    color: purple;
    font-size: 40px;
}

h2 {
    font-size: 20px;
    color: white;
    text-align: center;
}